* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, li {
    margin: 0;
    list-style: none;
}

html {
    font-size: 100%;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

html, body {
    background: #fff;
    height: 100%;
    width: 100%;
}

h1, h2, h3,
h4, h5, h6,
p, span, i {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.75rem;
    font-weight: bold;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

h6 {
    font-size: 1.25rem;
    font-weight: normal;
}

p, span, a {
    font-size: inherit;
    font-weight: normal;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

i.fa.fa-grip:before {
    content: "\f142 \202F \f142";
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 110%;
    }
}

@media screen and (max-width: 720px) {
    html {
        font-size: 120%;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 125%;
    }
}
