<div class="content" *ngIf="this.user" (dragstart)="this.showTrash()" (dragend)="this.hideTrash()" (drop)="this.hideTrash()">
    <div class="main">
        <aside class="button-row">
            <div class="category-creation" [class.open]="this.showCatCreator">
                <button type="button" class="add-category" name="add-category" title="Neue Kategorie erstellen" [class.active]="this.showCatCreator" (click)="this.showCatCreator = !this.showCatCreator">
                    <span>+</span>
                </button>
                <div class="width-container" #widthContainer>
                    <div class="form-container" [@tagAnimation] *ngIf="this.showCatCreator">
                        <div class="form-flex" [style.width.px]="widthContainer.offsetWidth">
                            <form class="category-form">
                                <input type="text" name="category-name" class="category-name" [(ngModel)]="newCatname" placeholder="Name">
                                <button type="button" name="submit" class="submit-button" (click)="this.createNewCat()"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delete-inst" *ngIf="this.showDelete" [@scaleInOut]>
                <div class="delete-icon" (dragenter)="this.enterTrash()" (dragleave)="this.leaveTrash()" [class.over]="this.dragTrashcounter > 0" (dragover)="allowDrop($event)" (drop)="dropTrash($event)">
                    <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                </div>
            </div>
            <div class="inbox" [class.action]="this.user.pending.length !== 0" [class.open]="this.showInbox">
                <button type="button" name="inbox-toggle" class="inbox-toggle" (click)="onInboxClicked()" [class.enabled]="this.showInbox">
                    <div class="text-container">
                        <i *ngIf="this.user.pending.length !== 0" class="fa fa-exclamation-circle action-icon" title="Nicht zugewiesene LVAs"></i>
                        <span class="inbox-toggle-text">INBOX</span>
                    </div>
                </button>
                <div class="inbox-container" *ngIf="this.showInbox" [@fadeInOut]>
                    <div class="pending-container">
                        <div class="none-pending" *ngIf="this.user.pending.length === 0; else inboxElseBlock">
                            Keine LVAs in der Inbox.
                        </div>
                        <div class="pending-instances">
                            <div class="pending-instance" *ngFor="let inst of this.user.pending" [@slideOutRight]>
                                <span class="inst-type">{{inst.type}}</span>
                                <h4 class="inst-name">{{inst.display_name}}</h4>
                                <i class="fa fa-caret-down select-indicator" aria-hidden="true"></i>
                                <select class="move-to-select" [(ngModel)]="nullValue" name="move-to-select" (ngModelChange)="moveInstTo(inst, $event)">
                                    <option [ngValue]="null" disabled selected>Verschieben nach...</option>
                                    <option *ngFor="let cat of this.user.categories | orderBy:'order name':true" [ngValue]="cat">{{cat.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="inbox-footer">
                        <span>Alle nach:</span>
                        <select class="term-select" name="term-select" [(ngModel)]="inboxSelectedCat">
                            <option *ngFor="let category of this.user.categories | orderBy:'order name':true; let i = index" [ngValue]="category">{{category.name}}</option>
                        </select>
                        <button type="button" name="move-all" class="move-all" [disabled]="!this.inboxSelectedCat" (click)="moveAll()">verschieben</button>
                    </div>
                </div>
            </div>
        </aside>
        <section class="study-container">
            <category *ngFor="let category of this.catService.getCats() | async | orderBy:'order name':true:rerun" [category]="category"></category>
        </section>
    </div>
    <div class="click-overlay" (click)="this.onOverlayClick()" *ngIf="this.showOverlay"></div>
</div>
