.content {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100%;
    position: relative;
}

.main {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    box-shadow: 0 0 64px 7px rgba(0,0,0,.1);
    padding: 1rem 0 2rem 0;
}

.button-row {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    align-self: center;
}

.category-creation,
.inbox {
    flex: 0 0 auto;
}

.study-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    flex: 1 0 auto;
    padding: 1rem 0 3rem;
    overflow: hidden;
}

.category-creation {
    /*position: absolute;*/
    z-index: 2;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    height: 3.3rem;
}

.category-creation.open {
    z-index: 10;
}

.add-category {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 1.25rem;
    box-shadow: 3px 1px 10px -1px rgba(0,0,0,.2);
    background: #41c6ff5e;
    font-size: 1.75rem;
    z-index: 1;
    overflow: hidden;
    transition: box-shadow .2s;
    flex: 0 0 auto;
}

.add-category.active {
    box-shadow: none;
}

.add-category span {
    transition: transform .2s;
    display: block;
}

.add-category.active span {
    transform: rotate(45deg);
}

.width-container {
    max-width: 50rem;
    position: absolute;
    width: 90vw;
    left: 100%;
    z-index: -1
}

.form-flex {
    flex: 0 0 auto;
    padding: 0 1rem 0 .2rem;
    height: 100%;
}

.form-container {
    display: flex;
    align-content: flex-end;
    align-items: center;
    margin-left: -2.9rem;
    z-index: -1;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    background: #f0f0f0;
    padding: .4rem 0 .4rem 3.1rem;
    height: 3.3rem;
    box-shadow: 3px 1px 10px -1px rgba(0,0,0,.2);
    overflow: hidden;
}

.category-form {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
}

.category-form > *:not(:last-child) {
    margin-right: .5rem;
}

.category-form .category-name {
    flex: 1 1 0;
    height: 100%;
    font-size: 1rem;
    padding-left: 1%;
}

.submit-button {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    background: rgba(251, 141, 24, 0.69);
    box-shadow: 2px 1px 8px 1px rgba(0,0,0,.2);
    transition: background-color .2s, box-shadow .2s;
}

.submit-button:hover {
    background: rgba(251, 141, 24, 0.8);
    box-shadow: 2px 1px 8px 2px rgba(0,0,0,.2);
}

.delete-inst {
    /*margin-left: auto;*/
    position: absolute;
    left: 50%;
}

.delete-inst .delete-icon {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f96b4b;
    border-radius: 1.5rem;
    box-shadow: 3px 1px 10px -1px rgba(0,0,0,.2);
    transition: box-shadow .4s, transform .4s;
}

.delete-inst .delete-icon.over {
    box-shadow: 4px 2px 10px -1px rgba(0,0,0,.2);
    transform: scale(1.1);
}

.inbox {
    z-index: 2;
    max-width: 100%;
    margin-left: auto;
    position: relative;
}

.inbox.open {
    z-index: 10;
}

.inbox-toggle {
    text-align: center;
    width: 10rem;
    max-width: 100%;
    height: 2rem;
    box-shadow: 3px 1px 10px -1px rgba(0,0,0,.2);
    transition: box-shadow .2s, transform .2s;
    background: #b5eaff;
    border-radius: .3rem;
}

.inbox.action .inbox-toggle{
    background: #ffb675;
}

.inbox-toggle:hover, .inbox-toggle.enabled {
    transform: translate(-1px, -1px);
    box-shadow: 5px 3px 10px -1px rgba(0,0,0,.2);
}

.text-container {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container > * {
    margin-right: .3rem;
}

.inbox-toggle:active .text-container {
    background-color: rgba(200, 200, 200, 0.3);
}

.inbox-toggle .inbox-toggle-text{
    font-size: 1.25rem;
}

.inbox-toggle .action-icon {
    font-size: 1rem;
    color: #ff3838;
}

.inbox-container {
    position: absolute;
    background: #fff;
    z-index: 10;
    height: 30rem;
    max-width: 90vh;
    width: 20rem;
    max-width: 90vw;
    top: 2rem;
    border: 1px solid #eee;
    box-shadow: 3px 1px 10px -1px rgba(0,0,0,.2);
    right: 0;

    display: flex;
    flex-flow: column nowrap;
}

.pending-container {
    overflow: hidden;
    flex: 1 1 100%;
    position: relative;
}

.pending-container .none-pending {
    font-size: 1.5rem;
    padding: 3rem 1rem;
    color: #aaa;
    text-align: center;
    position: absolute;
    z-index: 0;
}

.pending-container .pending-instances {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: .5rem;
}

.pending-container .pending-instance {
    margin: .3rem;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.3);
    display: flex;
    padding: .4rem .5rem;
    align-items: center;
    margin-bottom: .5rem;
    background: #fff;
}

.pending-container .pending-instance > *:not(:last-child) {
    margin-right: .2rem
}

.pending-container .inst-type {
    font-size: .7rem;
    padding-right: .2rem;
}

.pending-container .inst-name {
    flex: 1 1 0;
    word-break: break-word;
    color: #CD6A00;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;

}

.pending-container .select-indicator {
    flex: 0 0 auto;
    color: grey;
}

.pending-container .pending-instances .move-to-select {
    visibility: hidden;
    border: none;
    border-bottom: 1px solid orange;
    max-width: 50%;
    position: absolute;
    background: #fff;
    right: 5%;
    box-shadow: 1px 1px 7px -2px rgba(0,0,0,.4);
}

.pending-container .pending-instance:hover .move-to-select {
    visibility: visible;
}

.inbox-footer {
    flex: 0 0 2.5rem;
    border-top: 1px solid #eee;
    padding-top: .3rem;
    display: flex;
    align-items: center;
    padding: .3rem .5rem;
}

.inbox-footer > * {
    flex: 1 1 auto;
    font-size: .9rem;
    background: transparent;
    border: none;
    margin-right: .2rem;
}

.inbox-footer > *:last-child {
    margin-right: 0;
}

.inbox-footer .move-all {
    border-radius: .3rem;
    background-color: orange;
    padding: .2rem .3rem;
    box-shadow: 0 0 0 0 rgba(0,0,0,.3);
    transition: transform .2s, box-shadow .2s;
}

.inbox-footer .move-all:hover:not(:disabled) {
    transform: translate(-1px, -1px);
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,.3);
}

.inbox-footer .move-all:active {
    background-color: darkorange;
}

.inbox-footer .move-all:disabled {
    opacity: .8;
}

.inbox-footer .term-select {
    border-bottom: 1px solid orange;
    max-width: 50%;
}

.click-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

@media screen and (max-width: 95rem) {
    .main {
        padding-top: 4rem;
    }
}
