.term {
    list-style: none;
    margin: .5rem 0 .6rem;
    background-color: #fff;
    box-shadow: 0 2px 0.4rem 1px rgba(0,0,0,.4);
    transition: margin .2s, box-shadow .2s;
}

.term.expanded {
    box-shadow: 0 2px 1rem 2px rgba(0,0,0,.4);
    margin: .7rem 0 1rem;
}

.term-header {
    padding: .625rem;
    display: flex;
    flex-flow: row wrap;
    cursor: pointer;
    align-items: center;
    background: #f9f9f9;
    transition: padding .2s;
}

.term.peek {
    box-shadow: 0 2px 3rem 2px rgba(0,0,0,.4);
}

.term.peek:not(.expanded) .term-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.term-header:hover {
    background-color: #eee;
}

.done .term-header {
    background: #daeaf5;
}

.done .term-header:hover {
    background: #c2ddef;
}

.term-header .title {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.term-header .title .check-mark {
    display: none;
    font-size: 1.2rem;
    padding: .125rem;
    border-radius: 50%;
    background: rgba(190,190,190,.3);
    border: 2px solid #2f2f2f;
    color: #2f2f2f;
    margin-left: .6rem;
}

.done .term-header .title .check-mark {
    display: inline-block;
}

.term-header .padding {
    flex: 1 1 0;
}

.term-header .infos {
    flex: 0 0 auto;
    margin-left: auto;
    max-width: 100%;
    font-size: 1.4rem;
}

.term-content {
    flex-flow: column nowrap;
    overflow: hidden;
    position: relative;
}

.expanded .term-content {
    /*border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;*/
}

.arrow-container {
    padding-right: .8rem;
    padding-left: .5%;
}

.expand-arrow {
    transition: transform .2s;
}

.expanded .expand-arrow {
    transform: rotate(90deg);
}

.instances-container {
    width: 100%;
}

.no-instances {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #aaa;
    padding: 1rem 0;
}

.instances-wrap {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.instance-row {
    width: 95%;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    margin: 0 auto;
    background: #eee;
}

.term-footer {
    background: #f9f9f9;
}

.done .term-footer {
    background: #daeaf5;
}

.settings {
    padding: .5rem;
    position: relative;
    display: flex;
}

.order-settings {
    margin-left: auto;
}

.order-settings .show-settings {
    font-size: 1.1rem;
}

.settings-container {
    position: absolute;
    flex-flow: row wrap;
    top: 0;
    left: 0;
    background: #fff;
    padding: 1.5rem 1.5rem 0 1.5rem;
    max-width: 100%;
    box-shadow: 3px 2px 24px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    z-index: 100;
}

.settings-container .close-button{
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button > i {
    font-size: 1.5rem;
    height: 1.5rem;
}

.settings-container .close-button:hover {
    background: rgba(251, 141, 24, 0.88);
}

.settings-flex-item {
    padding-right: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f3f3f3;
    flex: 0 0 auto;
}

.settings-wrap {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
}

.settings-title {
    margin-bottom: .5rem;
}

.setting {
    padding-left: 1rem;
    padding-bottom: .3rem;
}

.setting .label {
    display: flex;
    align-items: center;
}

.setting label input {
    margin: .1rem .3rem .4rem .3rem
}

.setting label input[type="checkbox"] {
    margin-right: .1rem;
}

.setting label input[type="text"] {
    padding: .1rem .5rem;
    font-size: 1rem;
    margin-left: .3rem;
}

.setting > button {
    font-size: 1rem;
    padding: .5rem;
    background: #b5eaff;
    border-radius: .3rem;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,.2);
    transition: box-shadow .2s;
}

.setting > button:hover:not(:disabled) {
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,.3);
}

.setting > button:disabled {
    background: #d4eaf3;
}

.show-settings {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    font-size: 1.4rem;
    width: 2rem;
    align-self: center;
    height: 2rem;
    cursor: pointer;
}

.show-settings:hover {
    background-color: rgba(251, 141, 24, 0.69);
}

.show-settings.enabled {
    background-color: rgba(251, 141, 24, 1);
}

.hint {
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}

.hint.expanded::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    border-left: .7rem solid transparent;
    border-right: .7rem solid transparent;
    border-bottom: .5rem solid #b3d9f3;
    width: 0;
    height: 0;
    z-index: 1;
    left: 0;
}

.hint-button {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.hint .hint-text {
    position: absolute;
    width: 20rem;
    max-height: 10rem;
    overflow: hidden;
    text-align: center;
    top: calc(100% + .5rem);
    right: -2rem;
    background: #b3d9f3;
    padding: .5rem .8rem;
    border-radius: .3rem;
    box-shadow: 1px 1px 18px 0px rgba(0,0,0,.4);
}
