<div class="term" [class.expanded]="expanded" [class.peek]="peek" (dragover)="allowDrop($event)" (drop)="drop($event)" (dragenter)="this.dragEnter()" (dragleave)="this.dragLeave()" [class.done]="category.instances.length != 0 &amp;&amp; (category.instances | filterBy:filterDoneFn:(this.rerunObs | async)).length == category.instances.length">
    <div class="term-header" (click)="toggleExpand()">
        <div class="arrow-container">
            <i class="fa fa-caret-right fa-2x expand-arrow" aria-hidden="true"></i>
        </div>
        <div class="title">
            <h3>{{category.name}}</h3>
            <i class="fa fa-check check-mark" aria-hidden="true"></i>
        </div>
        <div class="infos">
            <span *ngIf="(category.instances | filterBy:filterDoneFn:(this.rerunObs | async)).length; let len">{{len}} abgesch. |</span>
            <span>{{category.instances.length}} LVAs | </span>
            <span>{{this.getECTS(category) | number:'1.0-1'}} ECTS | </span>
            <span>{{getHours(category) | number:'1.0-1'}}h</span>
        </div>
    </div>
    <div class="term-content" *ngIf="this.expanded" [@growInOut]>
        <div class="instances-container" #instancesContainer>
            <div class="no-instances" *ngIf="category.instances.length == 0; else nonEmptyCat">
                Diese Kategorie ist leer.<br>
                Gehe zum Katalog und füge welche über <i class="fa fa-inbox" aria-hidden="true"></i> zur Inbox hinzu hinzu.
            </div>
            <ng-template #nonEmptyCat>
                <ul class="instances-wrap">
                    <li *ngFor="let inst of category.instances | orderBy:sortParams:sortDecending; let odd = odd; let even = even; let first = first; let last = last" class="instance-row">
                        <instance [inst]="inst" [class.even]="even" [class.odd]="odd" [class.first]="first" [class.last]="last" (dragstart)="this.drag($event)"></instance>
                    </li>
                </ul>
            </ng-template>
        </div>
    </div>
    <div class="term-footer" *ngIf="expanded">
        <div class="settings">
            <div class="term-settings">
                <button type="button" name="toggle-settings" class="show-settings" [class.enabled]="this.showSettings" (click)="this.toggleSettings()" title="Einstellungen {{this.showSettings ? 'schließen' : 'öffnen'}}">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
                <form class="settings-container" *ngIf="this.showSettings" #settingsContainer [@fadeInOut] [style.top.px]="-min(instancesContainer.nativeElement.offsetHeight, settingsContainer.offsetHeight)">
                    <button class="close-button" type="button" name="close-settings" (click)="this.showSettings=false" title="Einstellungen schließen">
                        <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
                    </button>
                    <div class="settings-flex-item">
                        <div class="settings-wrap">
                            <h5 class="settings-title">Nachrichten für: </h5>
                            <div class="setting">
                                <label>
                                    <input type="checkbox" name="subscribeImportant">
                                    wichtige Nachrichten
                                </label>
                            </div>
                            <div class="setting">
                                <label>
                                    <input type="checkbox" name="subscribeAll">
                                    alle Nachrichten
                                </label>
                            </div>
                            <div class="setting">
                                <label>
                                    <input type="checkbox" name="subscribeForum">
                                    Forum
                                </label>
                            </div>
                            <div class="setting">
                                <label>
                                    <input type="checkbox" name="subscribeEmail" value="">
                                    Per E-Mail erhalten
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="settings-flex-item">
                        <div class="settings-wrap">
                            <h5 class="settings-title">Kalender:</h5>
                            <div class="setting">
                                <label>
                                    <input type="checkbox" name="showEvents">
                                    Termine anzeigen
                                </label>
                            </div>
                            <div class="setting">
                                <label>
                                    <input type="checkbox" name="customColor">
                                    Andere Farbe
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="settings-flex-item">
                        <div class="settings-wrap">
                            <h5 class="settings-title">Kategorie optionen</h5>
                            <div class="setting">
                                <label>
                                    <input type="checkbox" name="isActive" [(ngModel)]="category.isActive">
                                    Aktive Kategorie
                                </label>
                                <span class="hint" [class.expanded]="this.showHint_activeCat">
                                    <button class="hint-button" type="button" name="showHint-activeCat" (click)="this.showHint_activeCat = !this.showHint_activeCat" title="Tip anzeigen">
                                        <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                                    </button>
                                    <div class="hint-text" [hidden]="!this.showHint_activeCat">
                                        LVAs in aktiven Kategorien werden gerade absolviert. Das hilft dabei, Ressourcen
                                        besser zu verteilen und deine Planung besser zu gestalten. Mehr Infos <a href="#">hier</a>.
                                    </div>
                                </span>
                            </div>
                            <div class="setting">
                                <label>
                                    Name:
                                    <input type="text" name="categoryName" [(ngModel)]="category.name">
                                </label>
                            </div>
                            <div class="setting">
                                <button type="button" name="remvoe-category" [disabled]="category.isMandatory" (click)="removeCat()">Kategorie entfernen</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="order-settings">
                <button type="button" name="toggle-order" class="show-settings">
                    <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>
