<button type="button" name="toggle-meta" class="toggle-meta" (click)="this.showMeta = !this.showMeta" [class.expanded]="this.showMeta">
    <i class="fa fa-minus" aria-hidden="true"></i>
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>
<header class="app-header" *ngIf="this.showMeta" [@growInOut] #header>
    <nav class="nav-header">
        <ul class="navigator">
            <li *ngFor="let route of routes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="router-button">
                <a [routerLink]="route.path" class="router-link">{{route.name}}</a>
            </li>
        </ul>
        <ul class="dev-buttons">
            <li>
                <button type="button" name="demo-mode" class="demo-mode" (click)="runDemo()">Demo Modus</button>
            </li>
            <li>
                <button type="button" name="advance-study" class="advance-study" (click)="simulateTerm()">+1 Semester</button>
            </li>
        </ul>
    </nav>
</header>
<main>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</main>
<footer *ngIf="this.showMeta" [@growInOut]>
    <div class="footer-container">
        <div class="disclaimer">
            <p>
                Diese Webseite ist im Rahmen der Bachelorarbeit 'Evaluierung von Designkonzepten für die Studienplanung' von Simon Hayden unter Betreuung von
                <a target="_blank" href="http://igw.tuwien.ac.at/hci/people/ppurgathofer">Peter Purgahthofer</a> entstanden.</p>
                <p>Gestet auf <em>Chromium 63.0.3239.84</em> und <em>Firefox 57.0.4</em></p>
                <p>Source verfügbar auf <a href="https://gitlab.com/Znert/my-study">Gitlab</a>.</p>
            </div>
            <div class="copyright">
                &copy; Simon Hayden 2017{{getCopyRight()}}
            </div>
    </div>
</footer>
