:host {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.toggle-meta {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #f8f8f8;
    box-shadow: 2px 2px 1rem 0 rgba(0,0,0,.3);
    z-index: 5;
    transition: transform .2s;
}

.toggle-meta.expanded {
    transform: translateY(2.25rem);
}

.toggle-meta  i {
    position: absolute;
    left: 0;
    right: 0;
    font-size: .9rem;
}

.toggle-meta .fa-minus {
    top: .25rem;
}

.toggle-meta .fa-arrow-up {
    top: .75rem;
    transition: transform .2s ease-in-out;
}

.toggle-meta:not(.expanded) .fa-arrow-up {
    transform: rotate(180deg);
}

header {
    flex: 0 0 auto;
    z-index: 1;
    background: #f8f8f8;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    font-size: 1rem;
}

main {
    flex: 1 1 0;
}

footer {
    flex: 0 0 auto;
    background: #fff;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}

nav {
    display: block;
    flex: 0 0 100%;
}

.nav-header {
    display: flex;
    flex-flow: row-reverse wrap;
    border-bottom: 1px solid #aaa;
}

.navigator {
    display: flex;
    justify-content: flex-start;
    padding: 0 1rem 0 1rem;
    align-items: flex-end;
    flex: 0 1 auto;
    order: 2;
}

.router-button {
    display: block;
    margin-right: 1rem;
    margin-top: .5rem;
}

.router-button:last-child {
    margin-right: 0;
}

.router-link {
    padding: .5rem .8rem;
    display: block;
    color: #aaa;
    font-style: normal;
    text-decoration: none;
    margin-bottom: -1px;
}

:not(.active) .router-link:hover {
    color: #222;
}

.active .router-link {
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
    color: #222;
    border: 1px solid #aaa;
    border-bottom-color: transparent;
    background: #fff;
    text-align: center;
}

.dev-buttons {
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    padding: .5rem;
    flex: 0 1 auto;
    order: 1;
}

.dev-buttons > li {
    flex: 0 0 auto;
}

.dev-buttons > li:first-child {
    margin-left: auto;
}

.dev-buttons > li:not(:last-child) {
    margin-right: .4rem;
}

.dev-buttons button {
    border: 1px solid grey;
    border-radius: .3rem;
    background: rgba(255,255,255,.8);
    padding: .3rem;
    font-size: .8rem;
    box-shadow: 1px 1px 9px -2px rgba(0,0,0,.2);
    transition: background-color .1s;
}

.dev-buttons button:hover {
    background-color: rgba(240,240,240,.8);
}

.dev-buttons button:active {
    background-color: rgba(230,230,230,.8);
}

.footer-container {
    padding: 1rem 1rem;
    border-top: 1px solid #aaa;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0 0 100%;
}

.disclaimer {
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #eee;
}
