<div class="root-container">
    <div class="prog-container container" *ngIf="this.programs$ | async; let progs">
        <div class="prog element" *ngFor="let prog of progs">
            <div class="prog-header header" (click)="toggleProg(prog)">
                <h3>{{prog.name}}</h3>
            </div>
            <div class="term-container container" [@growInOut] *ngIf="prog.expanded">
                <div class="term element" *ngFor="let term of prog.terms">
                    <div class="term-header header" (click)="expandTerm(term)">
                        <h4>{{term.name}}</h4>
                    </div>
                    <div class="branch-container container" [@growInOut] *ngIf="term.expanded && this.branches[term.id]; let branches">
                        <div class="branch element" *ngFor="let branch of branches">
                            <div class="branch-header header" (click)="toggleBranch(branch)">
                                <h5>{{branch.name}}</h5>
                            </div>
                            <div class="module-container container" [@growInOut] *ngIf="branch.expanded && this.modules[branch.id]; let modules">
                                <div class="module element" *ngFor="let mod of modules">
                                    <div class="module-header header" (click)="toggleModule(mod)">
                                        <h6>{{mod.name}}</h6>
                                    </div>
                                    <div class="course-container container" [@growInOut] *ngIf="mod.expanded && this.courses[mod.id]; let courses">
                                        <div class="course element" *ngFor="let course of courses">
                                            <div class="course-header header" (click)="toggleCourse(course)">
                                                <div class="header-text">
                                                    {{course.name}}
                                                </div>
                                            </div>
                                            <div class="instance-container container" [@growInOut] *ngIf="course.expanded && this.instances[course.id]; let instances">
                                                <div class="instance element" *ngFor="let inst of instances">
                                                    <div class="instance-header header" [class.selected]="(this.userService.getInbox() | async | filterBy:pendingFilter(inst)).length">
                                                        <button type="button" name="add-instance" class="inbox-button" (click)="this.toggleInbox(inst)">
                                                            <i class="fa fa-inbox" aria-hidden="true"></i>
                                                        </button>
                                                        <div class="header-text">
                                                            {{inst.display_name}}
                                                        </div>
                                                        <div class="infos">
                                                            <div class="metatag" *ngFor="let tag of inst.vitalTags | orderBy:'priority'">
                                                                <p *ngIf="!tag.href; else isLink">{{tag.display_value}}</p>
                                                                <ng-template #isLink>
                                                                    <a target="_blank" [attr.href]="tag.href">{{tag.display_value}}</a>
                                                                </ng-template>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
