:host {
    display: block;
    width: 100%;
    min-height: 100%;
    max-width: 100rem;
    margin: 0 auto;
}

.root-container {
    padding: 1rem;
}

.container {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    padding-left: 1rem;
    border-bottom: 1px solid #f3f3f3;
}

.header {
    padding: .2rem 0;
    border-bottom: 1px solid #f3f3f3;
    cursor: pointer;
}

.header:hover > *{
    background: #f3f3f3;
}

.header > * {
    font-size: inherit;
    font-weight: inherit;
    padding: .8rem 1rem;
}

.element {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: .5rem;
}
.element:last-child {
    margin-bottom: 0;
}
/*.element:last-child > .header {
    border-bottom: none;
}*/

.prog-container {
    margin: 0;
    padding: 0;
    border: none;
}

.prog-header {
    font-size: 1.75rem;
    letter-spacing: .0625rem;
    font-weight: 500;
    align-self: flex-start;
    min-width: 50%;
}

.term-container {
    padding-left: 0;
    font-size: 1.3rem;
}

.branch-container {
    background: #fff;
    box-shadow: 0 0 1rem 2px rgba(0,0,0,.3);
    margin: 1rem;
    padding: 0;
    border: none;
}

.instance {
    font-size: 1rem;
    font-weight: normal;
}

.instance-header {
    display: flex;
    align-items: center;
    cursor: default;
}

.header.instance-header > * {
    background: #fff;
    padding: 0;
}

.instance-header .inbox-button {
    flex: 0 0 auto;
    border-radius: 100rem;
    width: 1.5rem;
    height: 1.5rem;
    background: #eee;
    font-size: 1rem;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,.3);
    margin-right: .5rem;
    transition-duration: .1s;
    transition-property: box-shadow, background-color;
}

.instance-header .inbox-button:hover {
    background-color: #f3f3f3;
    box-shadow: 2px 1px 14px 1px rgba(0,0,0,.3);
}

.instance-header .inbox-button:active {
    background-color: #ddd;
}

.instance-header.selected .inbox-button {
    background-color: #50d231;
}

.instance-header.selected .inbox-button:hover {
    background-color: #6eef4f;
}

.instance-header.selected .inbox-button:active {
    background-color: #328a1d;
}

.instance-header .infos {
    display: flex;
    flex: 0 0 auto;
    max-width: 100%;
    align-items: center;
    flex-flow: row wrap;
    padding: .4rem .4rem 0;
}

.instance-header .metatag {
    padding: .2rem .4rem;
    border: 1px solid #d2d2d2;
    background: #fff;
    margin: 0 .4rem .4rem 0;
    cursor: default;
    font-size: .8rem;
    flex: 0 0 auto;
    max-width: 100%;
    border-radius: .2rem;
}

.instance-header .header-text {
    flex: 1 1 auto;
    padding: .4rem .8rem;
}

@media screen and (max-width: 95rem) {
    .root-container {
        padding-top: 4rem;
    }
}
