:host {
    display: block;
}

:host.odd .instance-header{
    background-color: #e9f5ff;
}

:host.odd .instance-header:hover{
    background-color: #e2edf8;
}

:host.even .instance-header {
    background-color: #fff;
}

:host.even .instance-header:hover {
    background-color: #f8f8f8;
}

:host .expanded .instance-header {
    background-color: #dbdbdb;
}

:host .expanded .instance-header:hover {
    background-color: #d0d0d0;
}

:host.first .expanded .instance-header {
    margin-top: 0;
}

.instance-container {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    left: 0;
    transition: margin .2s, width .2s, left .2s;
}

.instance-container.expanded {
    margin: 1rem auto;
    width: 104%;
    box-shadow: 2px 4px 1rem 1px rgba(0,0,0,.3);
    left: -2%;
}

.instance-header {
    display: flex;
    flex-flow: row wrap;
    min-height: 1.5rem;
    padding: 0 .4rem;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.instance-header .drag-container {
    position: absolute;
    left: .3rem;
    opacity: 0;
    transition: opacity .2s;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    font-size: 1.2rem;
    color: grey;
}

.instance-container:not(.expanded) .instance-header:hover .drag-container {
    opacity: 1;
}

.instance-container.expanded .instance-header .drag-container {
    display: none;
}

.instance-header .title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    transition: margin-left .2s;
    margin: .5rem 0;
}

.instance-header .title > * {
    margin-right: .5rem;
}

.instance-container:not(.expanded) .instance-header:hover .title {
    margin-left: 1.2rem;
}

.instance-header .title h4 {
    font-size: 1rem;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    color: #CD6A00;
}

.instance-header .type {
    font-size: .7rem;
    padding-right: .8rem;
}

.infos {
    display: flex;
    flex: 0 0 auto;
    max-width: 100%;
    align-items: center;
    flex-flow: row wrap;
    padding: .4rem .4rem 0;
}

.metatag {
    padding: .2rem .4rem;
    border: 1px solid #d2d2d2;
    background: #fff;
    margin: 0 .4rem .4rem 0;
    cursor: default;
    font-size: .8rem;
    flex: 0 0 auto;
    max-width: 100%;
    border-radius: .2rem;
}

.metatag:last-child {
    margin-right: 0;
}

.instance-header .infos {
    margin-left: auto;
    transition: margin-right .4s;
}

.expanded .instance-header .infos {
    margin-right: 2rem;
}

.instance-header .close-button {
    opacity: 0;
    z-index: -1;
    position: absolute;
    right: .5rem;
    height: 1.5rem;
    width: 1.5rem;
    background: orange;
    border-radius: 5rem;
    transition: opacity .4s;
}

.expanded .instance-header .close-button {
    opacity: 1;
}

.instance-content {
    position: relative;
    width: 100%;
    overflow: hidden;
}

:host.last .expanded .instance-content {
    margin-bottom: 0;
}

.size-container {
    width: 100%;
    height: 100%;
}

.content-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    background: #fff;
    position: relative;
}

.content {
    flex: 0 0 100%;
    overflow: auto;
    background: #FFF;
    display: flex;
    flex-flow: column nowrap;
    transition: transform .2s;
    width: 100%;
    padding-bottom: 4.5rem;
}

.swap-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: block;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: #a8d1de;
    z-index: 10;
    border: none;
    font-size: 1.8rem;
    box-shadow: 4px 4px 7px -3px rgba(0,0,0,.6);
}

.swap-button:hover {
    background-color: #8ccade;
}

.swap-button:active {
    box-shadow: 0 0 7px -3px rgba(0,0,0,.6);
    background-color: #5db1cc
}

.left {
    z-index: 5;
}

.right {
    transform: translateX(100%);
    z-index: 1;
    position: absolute;
}

.swap .right {
    transform: translateX(0);
    position: static;
}

.swap .left {
    transform: translate(-100%);
    position: absolute;
}

.left .top-row {
    display: flex;
    padding: 0 .4rem;
}

.left .quicklinks {
    padding: .8rem;
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 auto;
}

.left .short-description {
    flex: 1 0 auto;
    padding: 0 1rem 2rem;
}

.left .events {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    align-items: center;
    padding: .5rem;
}

.left .events .event {
    display: flex;
    flex: 0 0 auto;
    max-width: 35rem;
    width: 100%;
    margin-bottom: .3rem;
    border-radius: .2rem;
    display: flex;
    text-align: center;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,.4) inset;
    border: 1px solid lightgrey;
}

.left .events .event > div {
    flex: 1 1 100%;
    padding: .5rem;
}

.left .event-time,
.left .event-location {
    background: rgba(251, 141, 24, 0.2);
}

.left .event-title {
    background: rgba(251, 141, 24, 0.3);
}

.left .bottom-row {
    display: flex;
    padding: 0 .5rem;
    margin: .5rem 2% 0 2%;
    align-items: center;
    border-top: 1px solid lightgrey;
}

.left .move-inst {
    flex: 0 1 auto;
}

.left .move-inst .move-to-select {
    border: none;
    border-bottom: 1px solid orange;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 7px -2px rgba(0,0,0,.4);
    font-size: 1rem;
}

.left .remove-button {
    flex: 0 0 auto;
    margin: .5rem .5rem .5rem auto;
    align-self: flex-start;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
    background: #f96b4b;
    box-shadow: 3px 1px 10px -1px rgba(0,0,0,.2);
    transition: box-shadow .2s, background-color .2s;
}

.left .remove-button:hover {
    background: #f96b4b;
    box-shadow: 1px 1px 17px 0px rgba(0,0,0,.4);
}

.right .news-feed {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
}

.right .news-feed .news {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
    overflow: hidden;
    background: white;
    flex: 0 0 auto;
    border-radius: .3rem;
    border: 1px solid #80808061;
}

.right .news-feed .news:last-child {
    margin-bottom: 2.5rem;
}

.right .news-feed .news > div {
    padding: .3rem;
}

.right .news-feed .news-header {
    display: flex;
    flex-flow: row wrap;
    background: #e9f5ff;
    margin-bottom: .4rem;
    box-shadow: 0px -5px 5px 5px rgba(0,0,0,1);
    color: #eb8f2c;
}

.right .news-feed .news-header .news-author {
    font-size: .8rem;
}
.right .news-feed .news-header .news-date {
    margin-left: auto;
    font-size: .8rem;
}

.right .news-feed .news-header .news-title {
    flex: 1 1 100%;
}

.right .news-feed .news-header .news-title h4 {
    font-weight: normal;
}

.right .news-feed .news-footer {
    background: #eee;
    border-top: 1px solid lightgrey;
}

.short-description ::ng-deep h1,
.short-description ::ng-deep h2,
.short-description ::ng-deep h3,
.short-description ::ng-deep h5,
.short-description ::ng-deep h6 {
    width: 100%;
}

.short-description ::ng-deep h1,
.short-description ::ng-deep h2,
.short-description ::ng-deep h3 {
    font-size: 1.4rem;
    padding: .5rem 0;
}
.short-description ::ng-deep h4,
.short-description ::ng-deep h5,
.short-description ::ng-deep h6 {
    font-size: 1.2rem;
    padding: .3rem 0;
}

.short-description ::ng-deep p {
    text-indent: .5rem;
    padding-bottom: .5rem;
}

.left .short-description ::ng-deep ul {
    padding-left: 1rem;
}

.left .short-description ::ng-deep ul li {
    list-style: circle;
    list-style-position: inside;
    padding-bottom: .5rem;
}

@media screen and (min-width: 70rem) {

    .content {
        flex: 0 0 50%;
        padding-bottom: 2rem;
    }

    .left, .right, .swap .left, .swap .right {
        transform: translate(0);
        width: auto;
        transition: none;
    }

    .right {
        height: 100%;
        position: absolute;
        height: 100%;
        width: 50%;
        left: 50%;
    }

    .swap-button {
        display: none;
    }
}
