<div class="instance-container" [class.expanded]="this.expanded">
    <div class="instance-header" (click)="this.toggleContent()" [attr.draggable]="!this.expanded" (dragstart)="this.drag($event)">
        <div class="drag-container">
            <i class="fa fa-grip"></i>
        </div>
        <div class="title">
            <span class="type">{{inst.type}}</span><h4>{{inst.display_name}}</h4>
            <i class="fa fa-check done" aria-hidden="true" *ngIf="inst.isDone"></i>
        </div>
        <div class="infos">
            <div class="metatag" *ngFor="let tag of inst.vitalTags | orderBy:'priority'" (click)="stopBubble($event)">
                <p *ngIf="!tag.href; else isLink">{{tag.display_value}}</p>
                <ng-template #isLink>
                    <a target="_blank" [attr.href]="tag.href">{{tag.display_value}}</a>
                </ng-template>
            </div>
        </div>
        <button type="button" name="close-button" class="close-button">X</button>
    </div>
    <div class="instance-content" *ngIf="this.expanded" [class.swap]="this.swap" [@growInOut]>
        <div class="size-container">
            <div class="content-container">
                <div class="left content">
                    <div class="info-container">
                        <div class="top-row">
                            <div class="infos">
                                <div class="metatag"
                                    *ngFor="let tag of inst.metatags | orderBy:'priority'"
                                >
                                    <p *ngIf="!tag.href; else isLink">{{tag.display_value}}</p>
                                    <ng-template #isLink>
                                        <a target="_blank" [attr.href]="tag.href">{{tag.display_value}}</a>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="short-description" [innerHTML]="inst.syllabaus">
                        </div>
                        <div class="events">
                            <div class="event" *ngFor="let lec of this.inst.lectures | orderBy:lecSortFunc |limit:4">
                                <div class="event-time">
                                    {{this.convertDates(lec.start, lec.end)}}
                                </div>
                                <div class="event-title">
                                    {{lec.description}}
                                </div>
                                <div class="event-location">
                                    {{lec.location}}
                                </div>
                            </div>
                        </div>
                        <div class="bottom-row">
                            <div class="move-inst">
                                <select class="move-to-select" [(ngModel)]="nullValue" name="move-to-select" (ngModelChange)="moveInstTo($event)">
                                    <option [ngValue]="null" disabled selected>Verschieben nach...</option>
                                    <ng-container *ngFor="let cat of this.catService.getCats() | async | orderBy:'order name':true">
                                        <option *ngIf="cat !== this.catManager.getCurrentCat()" [ngValue]="cat">{{cat.name}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <button type="button" name="remvoe-button" class="remove-button" (click)="this.removeInstance()">
                                <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="right content">
                    <div class="news-feed">
                        <article class="news">
                            <div class="news-header">
                                <div class="news-title">
                                    <h4>BalCCon?! - Here We Go! - Get a Ticket (Update)</h4>
                                </div>
                                <div class="news-author">
                                    Georg Merzdovnik
                                </div>
                                <div class="news-date">
                                    24.08.2017 22:57
                                </div>
                            </div>
                            <div class="news-content">
                                <p>Liebe Leute,</p>
                                <p>bitte hängt einen Public Key an die Mail an wenn ihr uns eine verschlüsselte Mail schreibt, wenn der Key nicht auf Keyservern auffindbar ist.</p>
                                <p>Cheers,</p>
                                <p>cluosh, qchen &amp; Hetti</p>
                            </div>
                            <div class="news-footer">
                                <div class="news-tags">
                                    <p>Tags: 188.366, 2017S</p>
                                </div>
                            </div>
                        </article>
                        <article class="news">
                            <div class="news-header">
                                <div class="news-title">
                                    <h4>BalCCon?! - Here We Go! - Get a Ticket (Update)</h4>
                                </div>
                                <div class="news-author">
                                    Georg Merzdovnik
                                </div>
                                <div class="news-date">
                                    24.08.2017 22:57
                                </div>
                            </div>
                            <div class="news-content">
                                <p>Liebe Leute,</p>
                                <p>bitte hängt einen Public Key an die Mail an wenn ihr uns eine verschlüsselte Mail schreibt, wenn der Key nicht auf Keyservern auffindbar ist.</p>
                                <p>Cheers,</p>
                                <p>cluosh, qchen &amp; Hetti</p>
                            </div>
                            <div class="news-footer">
                                <div class="news-tags">
                                    <p>Tags: 188.366, 2017S</p>
                                </div>
                            </div>
                        </article>
                        <article class="news">
                            <div class="news-header">
                                <div class="news-title">
                                    <h4>BalCCon?! - Here We Go! - Get a Ticket (Update)</h4>
                                </div>
                                <div class="news-author">
                                    Georg Merzdovnik
                                </div>
                                <div class="news-date">
                                    24.08.2017 22:57
                                </div>
                            </div>
                            <div class="news-content">
                                <p>Liebe Leute,</p>
                                <p>bitte hängt einen Public Key an die Mail an wenn ihr uns eine verschlüsselte Mail schreibt, wenn der Key nicht auf Keyservern auffindbar ist.</p>
                                <p>Cheers,</p>
                                <p>cluosh, qchen &amp; Hetti</p>
                            </div>
                            <div class="news-footer">
                                <div class="news-tags">
                                    <p>Tags: 188.366, 2017S</p>
                                </div>
                            </div>
                        </article>
                        <div class="news">
                            <div class="news-header">
                                <div class="news-title">
                                    <h4>BalCCon?! - Here We Go! - Get a Ticket (Update)</h4>
                                </div>
                                <div class="news-author">
                                    Georg Merzdovnik
                                </div>
                                <div class="news-date">
                                    24.08.2017 22:57
                                </div>
                            </div>
                            <div class="news-content">
                                <p>Liebe Leute,</p>
                                <p>bitte hängt einen Public Key an die Mail an wenn ihr uns eine verschlüsselte Mail schreibt, wenn der Key nicht auf Keyservern auffindbar ist.</p>
                                <p>Cheers,</p>
                                <p>cluosh, qchen &amp; Hetti</p>
                            </div>
                            <div class="news-footer">
                                <div class="news-tags">
                                    <p>Tags: 188.366, 2017S</p>
                                </div>
                            </div>
                        </div>
                        <div class="news">
                            <div class="news-header">
                                <div class="news-title">
                                    <h4>BalCCon?! - Here We Go! - Get a Ticket (Update)</h4>
                                </div>
                                <div class="news-author">
                                    Georg Merzdovnik
                                </div>
                                <div class="news-date">
                                    24.08.2017 22:57
                                </div>
                            </div>
                            <div class="news-content">
                                <p>Liebe Leute,</p>
                                <p>bitte hängt einen Public Key an die Mail an wenn ihr uns eine verschlüsselte Mail schreibt, wenn der Key nicht auf Keyservern auffindbar ist.</p>
                                <p>Cheers,</p>
                                <p>cluosh, qchen &amp; Hetti</p>
                            </div>
                            <div class="news-footer">
                                <div class="news-tags">
                                    <p>Tags: 188.366, 2017S</p>
                                </div>
                            </div>
                        </div>
                        <div class="news">
                            <div class="news-header">
                                <div class="news-title">
                                    <h4>BalCCon?! - Here We Go! - Get a Ticket (Update)</h4>
                                </div>
                                <div class="news-date">
                                    24.08.2017 22:57
                                </div>
                                <div class="news-author">
                                    Georg Merzdovnik
                                </div>
                            </div>
                            <div class="news-content">
                                <p>Liebe Leute,</p>
                                <p>bitte hängt einen Public Key an die Mail an wenn ihr uns eine verschlüsselte Mail schreibt, wenn der Key nicht auf Keyservern auffindbar ist.</p>
                                <p>Cheers,</p>
                                <p>cluosh, qchen &amp; Hetti</p>
                            </div>
                            <div class="news-footer">
                                <div class="news-tags">
                                    <p>Tags: 188.366, 2017S</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <button class="swap-button" type="button" name="button" (click)="this.toggleSwap()" ariah-hidden="true">
                    <ng-container *ngIf="!this.swap;else elseBlock">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    </ng-container>
                    <ng-template #elseBlock>
                        <i  class="fa fa-info" aria-hidden="true"></i>
                    </ng-template>
                </button>
            </div>
        </div>
    </div>
</div>
